*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/reports
test/tmp
test/version_tmp
tmp
*.sublime-workspace
*.sublime-project

# YARD artifacts
.yardoc
_yardoc
doc/
config
tmp/*.pid
tmp/last
logs/*.output
logs/*.log
coverage